
@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&family=Rubik:wght@400;700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', cursive;
}
header{
    width: 100%;
    height: 16vh;
    background: #FFF;
    display: inline;
    justify-content: space-around;
    align-items: flex-end;
    margin-left: 40px;
}
header a{
    text-decoration: none;
    flex-direction: column;
    color: #99A2AA;
   justify-content: space-around;
   margin-left: 20px;
    height: 40px;
}
main{
    width: 100%;
    height: 42vh;
    background: #FEC524;
}

main h1{
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    line-height: 45px;
    display: block;
    margin-left: 40px;
    margin-top: 0px;
}
main p{
    margin-left: 40px;
}
.container{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input{
    width: 400px;
    height: 50px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    border-color: #FFFFFF;
    border-radius: 10px;

}
.pork{
width: 1000px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25vh;
    padding: 20px;
}
button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
    border-color: #FFFFFF;
}

footer{
    width: 100%;
    height: 42vh;
    background: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .card{
   width: 400px;
    height: 350px;
    border: #FFFFFF;
    display: block;
  justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 40px;
    position: relative;
    margin-top: 80px;
}

